# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
*.xlsx
*.csv
*.parquet

# Cache
.cache/

# Python cache
.pytest_cache/
